.productCard .textPart{
    transition: transfrome .3s ease-out;
}

.productCard:hover .textPart {
    transform: translateY(-1rem);
}

.productCard:hover{

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px

}

/* In ProductCard.css */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjusted for better alignment */
}

.productCard {
    flex: 1 1 20%; /* Allow products to grow and shrink, maintaining a 20% base width */
    max-width: 20%; /* Ensure the maximum width remains reasonable */
    margin: 10px;
    transition: all 0.3s ease;
}
